
.container-form{
  border: 2px solid #ec6a14;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.titulo{
  text-align: center;
}

.titulo-tarea{
  cursor: pointer;
  transition: all 1s ease-in-out;
  
}
.titulo-tarea:hover{
  transform: scale(.9);
}